.footer {

    margin-top: $padding100;

    // .footer__container
    &__container {
        padding-bottom: clamp(40px, 7.2vw, 72px);

        @media screen and (max-width: $breakpoint576) {
            gap: 32px;
        }
    }

    &__col {
        @media screen and (max-width: $breakpoint576) {
            gap: 32px;
        }

        &:last-of-type {
            .footer-menu {
                &:last-of-type {
                    @media screen and (min-width: $breakpoint576) {
                        align-items: flex-end;
                    }
                }
            }
        }
    }
}

.footer-menu {

    display: flex;
    flex-direction: column;

    // .footer-menu__title
    &__title {
        font-weight: 500;
        font-size: 15px;
        line-height: 1.5;

        margin-bottom: clamp(12px, 2.8vw, 28px);
    }

    // .footer-menu__email
    &__email {
        @include h3;
        max-width: max-content;
        &:hover {
            color: $colorPrimary500;            
        }
    }

    // .footer-menu__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
            @include nav-text-1;

            
            a {
                &:hover {
                    color: $colorPrimary500;
                }
            }
        
        }
    }
}

.socials {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
        width: 32px;
        aspect-ratio: 1;
    }
}
