$marginPopup: clamp(16px, 2.8vw, 28px);

.popup {

    display: flex;
    align-items: center;
    justify-content: center;

    overflow-x: hidden;
    overflow-y: auto;
    padding: clamp(10px, 4vw, 40px);

    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: $popupLayer;

    background:rgba(0, 0, 0, 0.2);

    &_video {
        .popup__inner {
            max-width: 900px;
        }
    }

    // .popup__inner
    &__inner {
        background: $colorWhite;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
        margin-top: auto;
        margin-bottom: auto;
        max-width: 650px;
        width: 100%;

        padding: $padding40;
        border-radius: 16px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .popup__close
    &__close {
        align-self: flex-end;
        cursor: pointer;
    }

    // .popup__video
    &__video {
        margin-top: $marginPopup;
        border-radius: 8px;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 1.73;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    // .popup__title
    &__title {
        margin-top: $marginPopup;
        text-align: center;
        @include h2;
    }
    // .popup__subtitle
    &__subtitle {
        margin-top: 12px;
        color: $colorBlack60;
        text-align: center;
        @include text-1;
    }

    // .popup__inputs
    &__inputs {
        margin-top: $marginPopup;
        max-width: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    // .popup__btn
    &__btn {
        margin-top: 32px;
        max-width: fit-content;
    }
}

