.slider {

    display: block;

    // .slider__body
    &__body {
        overflow: visible !important;

        .swiper-slide {
            height: auto;
        }

        .swiper-slide > .card {
            height: 100%;
            &__content {
                flex-grow: 1;
            }
        }
        .swiper-slide > .review {
            height: 100%;
        }
    }

    // .slider__nav
    &__nav {
        margin: 32px auto 0;
        max-width: fit-content;

        &:has(.swiper-button-lock) {
            display: none;
        }
    }
}

