.tag {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    background: rgba($colorWhite, 0.15);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 8px;

    color: $colorWhite80;

    font-size: clamp(14px, 1.6vw, 16px);
    font-weight: 500;

    // .tag_light
    &_light {
        background: $colorWhite;
        box-shadow: 0px 2px 25px rgba(40, 43, 55, 0.02);
        color: $colorBlack80;
    }

    &_category {
        font-size: clamp(12px, 1.4vw, 14px);
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;

        span {
            @include textOverflow(1);
            color: $colorWhite;
        }

        padding: 10px 18px;
        background-color: $colorPrimary500;
        border-radius: 8px;
    }
}